<div class="container">

  <form class="form-horizontal" role="form">
    <fieldset>
      <legend>Payment</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Full Name</label>
        <div class="col-sm-9">
          <input ng-model="customer.name" type="text" class="form-control"  placeholder="First Name & Last Name" required>
			
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Full Adress</label>
        <div class="col-sm-9">
          <input  ng-model="customer.address"  type="text" class="form-control" placeholder="street, number, zipcpde, city" required>
        </div>
		  </div>
  <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Phone</label>
        <div class="col-sm-9">
          <input ng-model="customer.phone" type="text" class="form-control" placeholder="international format ex.: +XXXXXX" required>
        </div>
	  </div>
	  <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Email</label>
        <div class="col-sm-9">
          <input ng-model="customer.email" type="text" class="form-control"  placeholder="email format xxx@xxxxx.xx" required>
        </div>
	
      </div>
		  <a class="btn btn-success" ng-click ="save()" ng-href="/confirmation">Order Now <span class="glyphicon glyphicon-play"></span></a>
    </fieldset>
	</form>
	 
</div>
	 
  